<body>
  <div class="main">
    <form (ngSubmit)="checkLogin()">
      <div class="login-box" style="border-radius: 5%; box-shadow: black">
        <img
          src="assets/admin.jpg"
          width="135"
          height="135"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <h1
          style="
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
          "
        >
          Admin Login
        </h1>
        <br />
        <!-- <p class="form-group col-10" >
            
            <label for="emailid" ><h5 style="font-size: 20px;">Email</h5></label>
            <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email"
             formControlName="emailid" />
        </p>
        
        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-8">
            <div *ngIf="emailid!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="emailid!.errors?.pattern" class="col-8 error">
            
            Enter correct email
             
         </div>
        
        <p class="form-group col-10">
            <label for = "password"><h5 style="font-size: 20px;">Password</h5></label>
            <input type = "password" id = "password" name = "password" class="form-control" placeholder="Password" 
            formControlName="password"/>
        </p>
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-group error col-8">
            <div *ngIf="password!.errors!.required">
              Password is required
            </div>
        </div>
     -->

        <label for="t2" class="idspace">Enter Email ID: </label>
        <input
          type="email"
          name="t2"
          [(ngModel)]="emailid"
          required
        /><br /><br />
      

        <label for="t3" class="passspace">Enter Password: </label>
        <input
          type="password"
          name="t3"
          [(ngModel)]="password"
          required
          minlength="6"
        /><br /><br />

        <div style="text-align: center;">
          <button
            type="submit"
            class="btn"
            
          >
            Login</button
          ><br /><br />
        </div>
      </div>
    </form>
  </div>
</body>
